<div class="container-fluid bg">
  <div class="text-center text-white pt-2">
    <h2>
      <b
        ><i
          ><span class="text-white"><i class="fa-solid fa-bus"></i> Book</span
          ><span class="text-warning">MyBus</span></i
        ></b
      >
    </h2>
  </div>
  <div class="row">
    <div class="col-sm-12 text-light rounded py-12">
      <div class="p-4 md-3">
        <div *ngIf="user">
          <h3>
            <b
              >Welcome to BookMyBus!
              <span class="text-warning"
                ><i>{{ user.userName }}</i></span
              ></b
            >
          </h3>
          <small
            ><b>User Id: {{ user.userId }}</b></small
          ><br />
          <button class="btn btn-light float-left" routerLink="/userHome">
            Home
          </button>
          <button class="btn btn-danger float-right" (click)="logout()">
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron mx-5 my-5 px-5 py-5 cardbg">
    <h3 class="text-center">Add Passengers</h3>
    <p class="text-light">Available Seats: {{ bus?.availableSeats }}</p>
    <br /><br />
    <div class="m-2" align="center">
      <button class="btn btn-success" (click)="addMorePassengers()">
        Add More
      </button>
    </div>
    <form [formGroup]="passengerArrayForm">
      <div class="row" formArrayName="passengers">
        <div
          class="col-12"
          *ngFor="let group of passengerArray.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="jumbotron p-3 cardbg">
            <div class="row">
              <div class="col-12">
                <h3>Passenger {{ i + 1 }}</h3>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label>Name</label>
                <input
                  type="text"
                  class="form-control"
                  [class.is-invalid]="
                    group.controls.name.invalid && group.controls.name.touched
                  "
                  formControlName="name"
                  placeholder="Name"
                />
                <small
                  class="text-warning"
                  *ngIf="
                    group.controls.name.invalid && group.controls.name.touched
                  "
                  >*Mandatory Field</small
                >
              </div>
              <div class="form-group col-md-4">
                <label>Age</label>
                <input
                  type="number"
                  class="form-control"
                  [class.is-invalid]="
                    group.controls.age.invalid && group.controls.age.touched
                  "
                  formControlName="age"
                  placeholder="Age"
                />
                <div
                  *ngIf="
                    group.controls.age.invalid && group.controls.age.touched
                  "
                >
                  <small
                    class="text-warning"
                    *ngIf="group.controls.age.errors?.required"
                    >*mandatory Field</small
                  >
                  <small
                    class="text-warning"
                    *ngIf="
                      group.controls.age.errors?.min ||
                      group.controls.age.errors?.max
                    "
                    >*age must be between 1 to 100</small
                  >
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>luggage</label>
                <input
                  type="number"
                  class="form-control"
                  [class.is-invalid]="
                    group.controls.luggage.invalid &&
                    group.controls.luggage.touched
                  "
                  formControlName="luggage"
                  placeholder="Luggage"
                />
                <div
                  *ngIf="
                    group.controls.luggage.invalid &&
                    group.controls.luggage.touched
                  "
                >
                  <small
                    class="text-warning"
                    *ngIf="group.controls.luggage.errors?.required"
                    >*Mandatory Field</small
                  >
                  <small
                    class="text-warning"
                    *ngIf="
                      group.controls.luggage.errors?.min ||
                      group.controls.luggage.errors?.max
                    "
                    >*luggage must be between 0 to 15kg</small
                  >
                </div>
              </div>
            </div>
            <button class="btn btn-danger" (click)="removePassenger(i)">
              Remove
            </button>
          </div>
        </div>
      </div>
      <div align="center">
        <input
          [disabled]="
            !passengerArrayForm.valid ||
            bus?.availableSeats <
              passengerArrayForm.controls.passengers.value.length
          "
          type="button"
          (click)="submit()"
          value="Book Now"
          class="btn btn-success"
        />
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>
