<nav
  class="navbar navbar-expand-sm navbar-light"
  style="background-color: hsl(335, 95%, 25%)"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <h3 class="text-white">
        <i class="fa-solid fa-bus"></i
        ><b>Book<span class="text-warning">MyBus</span></b>
      </h3>
    </a>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/userLogin"
          style="color: rgb(255, 255, 255)"
          ><b>Login</b></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/addUser"
          style="color: rgb(255, 255, 255)"
          ><b>Register</b></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/aboutus"
          style="color: rgb(255, 255, 255)"
          ><b>About Us</b></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/contactus"
          style="color: rgb(255, 255, 255)"
          ><b>Contact Us</b></a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid bg">
  <div class="row">
    <div class="col-sm-4 p-5 mt-5">
      <marquee behavior="" direction=""
        ><h1 class="m-5 p-5 text-white">
          <b>India's Best Online Bus Booking Platform</b>
        </h1></marquee
      >
    </div>
    <div class="col-sm-4 bg-light box pt-5">
      <form
        class="form-group"
        [formGroup]="userRegisterForm"
        (ngSubmit)="submit()"
      >
        <h1>
          <b
            ><i
              class="fa-solid fa-id-card"
              style="color: rgb(60, 138, 130)"
            ></i>
            User Registration</b
          >
        </h1>
        <br />
        <!------------ userName------- -->

        <div class="form-group">
          <div
            *ngIf="
              userRegisterForm.get('userName').invalid &&
              userRegisterForm.get('userName').touched
            "
          >
            <small class="text-warning">*Field mandatory</small>
          </div>
          <label for="userName"> Name: </label>
          <input
            [class.is-invalid]="
              userRegisterForm.get('userName').invalid &&
              userRegisterForm.get('userName').touched
            "
            type="text"
            class="form-control"
            formControlName="userName"
            placeholder="Enter Name here.."
          />
        </div>

        <!------------ email--------- -->
        <div class="form-group">
          <div
            *ngIf="
              userRegisterForm.get('email').invalid &&
              userRegisterForm.get('email').touched
            "
          >
            <small class="text-warning">*Field mandatory</small>
          </div>
          <label for="email"> Email: </label>
          <input
            [class.is-invalid]="
              userRegisterForm.get('email').invalid &&
              userRegisterForm.get('email').touched
            "
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="Enter Email here.."
          />
        </div>

        <!--------- phone number ----------- -->
        <div class="form-group">
          <div
            *ngIf="
              userRegisterForm.get('phone').invalid &&
              userRegisterForm.get('phone').touched
            "
          >
            <div *ngIf="userRegisterForm.get('phone').errors?.required">
              <small class="text-warning">*Field mandatory</small>
            </div>

            <div *ngIf="userRegisterForm.get('phone').errors?.pattern">
              <small class="text-warning">*invalid number</small>
            </div>
          </div>
          <label for="phone">Phone Number: </label>
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span>+91</span>
            </div>
            <input
              [class.is-invalid]="
                userRegisterForm.get('phone').invalid &&
                userRegisterForm.get('phone').touched
              "
              type="number"
              class="form-control"
              formControlName="phone"
              placeholder="Enter PhoneNo here.."
            />
          </div>
        </div>

        <!----------- password -------------->

        <div class="form-group">
          <div
            *ngIf="
              userRegisterForm.get('password').invalid &&
              userRegisterForm.get('password').touched
            "
          >
            <div *ngIf="userRegisterForm.get('password').errors?.required">
              <small class="text-warning">*Field mandatory</small>
            </div>
            <div *ngIf="userRegisterForm.get('password').errors?.minlength">
              <small class="text-warning"
                >*password must be minimum 8 characters</small
              >
            </div>
          </div>
          <label for="password">Password:</label>
          <input
            [class.is-invalid]="
              userRegisterForm.get('password').invalid &&
              userRegisterForm.get('password').touched
            "
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Enter Password here.."
          />
        </div>

        <!----------------- confirm password------------ -->
        <div class="form-group">
          <div *ngIf="userRegisterForm.errors?.mismatch">
            <small class="text-warning">*mismatch</small>
          </div>
          <label for="confirmpwd">Confirm password:</label>
          <input
            [class.is-invalid]="userRegisterForm.errors?.mismatch"
            id="confirmpwd"
            type="password"
            class="form-control"
            formControlName="confirmPassword"
            placeholder="Enter Password Again here.."
          />
        </div>
        <div class="form-group">
          <input
            [disabled]="!userRegisterForm.valid"
            style="width: 100%"
            type="submit"
            class="btn btn-success"
            value="Register"
          />
        </div>

        <p>
          Already a Registered User?
          <a routerLink="/userLogin" style="text-decoration: None">
            User Login</a
          >
        </p>
      </form>
      <br />
    </div>
    <div class="col-sm-4 p-5 mt-5">
      <marquee behavior="" direction=""
        ><h1 class="m-5 p-5 text-white">
          <b
            >Empower your travels with our online bus booking app – where
            simplicity meets the joy of seamless journey planning...</b
          >
        </h1></marquee
      >
    </div>
  </div>
  <app-footer></app-footer>
</div>
