.bg {
  /* The image used */

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73)),
    url("../../assets/img/5.jpg");
  /* Full height */
  height: 720px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  height: 720px;
  padding-bottom: 150px;
  padding: 25px;
}