<nav class="navbar navbar-expand-sm navbar-light" style="background-color: hsl(335, 95%, 25%);">
  <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">
          <h3 class="text-white"><i class="fa-solid fa-bus"></i><b>Book<span class="text-warning">MyBus</span></b></h3> 
      </a>
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/userLogin" style="color:  rgb(255, 255, 255);"><b>Login</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/addUser" style="color:  rgb(255, 255, 255);"><b>Register</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus" style="color:  rgb(255, 255, 255);"><b>About Us</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contactus" style="color:  rgb(255, 255, 255);"><b>Contact Us</b></a>
        </li>
    </ul>
    
  </div>
</nav>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class="jumbotron text-center">
  <div class="blink"><h1 class="display-4"><strong><i class="fa-solid fa-bus"></i> BookMyBus</strong></h1></div>
  <p class="lead">India's Best Online Bus  Booking Platform</p>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-6" style="margin: auto;">
      <h2 style="text-align: center;">Welcome to BookMyBus</h2>
      <p>Your one-stop solution for hassle-free and convenient bus ticket reservations. We are committed to revolutionizing your travel experience by providing a seamless and user-friendly platform that empowers you to book bus tickets with ease, anytime and anywhere.</p>
    </div>
    <div class="col-md-6">
      <img src="../../assets/img/3.jpg" alt="LetsTravel Image" class="img-fluid rounded">
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/img/1.jpg" alt="Mission Image" class="img-fluid rounded">
      </div>
      <div class="col-md-6" style="margin: auto;">
        <h2 style="text-align: center;">Our Mission</h2>
        <p>Our mission is to simplify bus travel by offering a comprehensive online platform that connects travelers to a vast network of bus operators and destinations. We aim to enhance your journey by providing a convenient, secure, and efficient way to book your bus tickets, enabling you to focus on enjoying the ride and creating memorable experiences.</p>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <h2 class="text-center"><strong>Why Book<span class="text-warning">MyBus</span></strong></h2>
  <br>
  <div class="row">
    <div class="col-md-3 text-center">
      <i class="fas fa-user-circle feature-icon"></i>
      <h4>Ease of Use</h4>
      <p>Our user-friendly interface ensures that even those new to online booking can navigate the platform effortlessly.</p>
    </div>
    <div class="col-md-3 text-center">
      <i class="fas fa-route feature-icon"></i>
      <h4>Wide Network</h4>
      <p>We collaborate with a diverse range of reputable bus operators, ensuring that you have access to a multitude of routes and schedules across various destinations.</p>
    </div>
    <div class="col-md-3 text-center">
      <i class="fas fa-dollar-sign feature-icon"></i>
      <h4>Transparent Pricing</h4>
      <p>Our transparent pricing structure guarantees that you receive the best value for your money. No hidden fees, no surprises – just straightforward and competitive pricing.</p>
    </div>
    <div class="col-md-3 text-center">
      <i class="fas fa-headset feature-icon"></i>
      <h4>Dedicated Support</h4>
      <p>Our dedicated customer support team is available round-the-clock to assist you with any queries, concerns, or changes to your bookings. We are here to ensure your journey goes off without a hitch.</p>
    </div>
  </div>
</div>

<div class="bg-primary text-white py-5">
  <div class="container text-center">
    <h2>Join Us in Redefining Bus Travel</h2>
    <p>Embrace the future of bus travel with the Online Bus Booking System. Whether you're a solo traveler, a family on vacation, or a business group, we are here to make your journey seamless, convenient, and enjoyable. Book your bus tickets with us today and embark on a new era of hassle-free travel.</p>
    <button class="btn btn-light btn-lg" routerLink="/userLogin">Book Now</button>
  </div>
</div>
<br>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<app-footer></app-footer>