<div class="container-fluid bg content-container">
  <div class="text-center text-white pt-2">
    <h2>
      <b
        ><i
          ><span class="text-white"><i class="fa-solid fa-bus"></i> Book</span
          ><span class="text-warning">MyBus</span></i
        ></b
      >
    </h2>
  </div>
  <div class="row">
    <div class="col-sm-12 text-light rounded py-12">
      <div class="p-4 md-3">
        <div *ngIf="user">
          <h3>
            <b
              >Welcome to BookMyBus!
              <span class="text-warning"
                ><i>{{ user.userName }}</i></span
              ></b
            >
          </h3>
          <small
            ><b>User Id: {{ user.userId }}</b></small
          ><br />
          <button class="btn btn-light float-left" routerLink="/userHome">
            Home
          </button>
          <button class="btn btn-danger float-right" (click)="logout()">
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div
    class="jumbotron m-5 p-5"
    style="background-image: linear-gradient(315deg, #5e3838 0%, #2f2a2f 74%)"
  >
    <form
      class="form"
      [formGroup]="updateForm"
      style="color: white"
      (ngSubmit)="submit()"
    >
      <h3><b>Update User Details</b></h3>
      <div class="row">
        <div class="col-sm-6 form-group">
          <label for="userName">Name</label>
          <div
            *ngIf="
              updateForm.get('userName').invalid &&
              updateForm.get('userName').touched
            "
          >
            <small class="text-warning">*Field mandatory</small>
          </div>
          <input
            [class.is-invalid]="
              updateForm.get('userName').invalid &&
              updateForm.get('userName').touched
            "
            type="text"
            class="form-control"
            formControlName="userName"
          />
        </div>
        <div class="col-sm-6 form-group">
          <label for="email">Email</label>
          <div
            *ngIf="
              updateForm.get('email').invalid && updateForm.get('email').touched
            "
          >
            <small class="text-warning">*Field mandatory</small>
          </div>
          <input
            [class.is-invalid]="
              updateForm.get('email').invalid && updateForm.get('email').touched
            "
            type="text"
            class="form-control"
            formControlName="email"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 form-group">
          <label for="">Mobile Number</label>
          <div
            *ngIf="
              updateForm.get('phone').invalid && updateForm.get('phone').touched
            "
          >
            <div *ngIf="updateForm.get('phone').errors?.required">
              <small class="text-warning">*Field mandatory</small>
            </div>
            <div *ngIf="updateForm.get('phone').errors?.pattern">
              <small class="text-warning">*invalid number</small>
            </div>
          </div>
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span>+91</span>
            </div>

            <input
              [class.is-invalid]="
                updateForm.get('phone').invalid &&
                updateForm.get('phone').touched
              "
              type="number"
              class="form-control"
              formControlName="phone"
            />
          </div>
        </div>
        <div class="col-sm-4 form-group">
          <div
            *ngIf="
              updateForm.get('password').invalid &&
              updateForm.get('password').touched
            "
          >
            <div *ngIf="updateForm.get('password').errors?.required">
              <small class="text-warning">*Field mandatory</small>
            </div>
            <div *ngIf="updateForm.get('password').errors?.minlength">
              <small class="text-warning"
                >*password must be minimum 8 characters</small
              >
            </div>
          </div>
          <label for="password">Password</label>
          <input
            [class.is-invalid]="
              updateForm.get('password').invalid &&
              updateForm.get('password').touched
            "
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div>
        <div class="col-sm-4 form-group">
          <div *ngIf="updateForm.errors?.mismatch">
            <small class="text-warning">*mismatch</small>
          </div>
          <label for="cnpwd">Confirm password:</label>
          <input
            [class.is-invalid]="updateForm.errors?.mismatch"
            type="password"
            class="form-control"
            id="cnpwd"
            formControlName="confirmPassword"
          />
        </div>
      </div>
      <div class="center">
        <input
          [disabled]="!updateForm.valid"
          type="submit"
          class="btn btn-success"
          value="Update"
        />
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
