<div class="container-fluid bg">
  <div class="text-center text-white pt-2">
    <a routerLink="/adminHome" style="color: white; text-decoration: none">
      <h2>
        <b
          ><i
            ><span class="text-white"><i class="fa-solid fa-bus"></i> Book</span
            ><span class="text-warning">MyBus</span></i
          ></b
        >
      </h2>
    </a>
  </div>
  <div>
    <button class="btn btn-light float-left" routerLink="/adminHome">
      Home
    </button>
  </div>
  <br /><br /><br />
  <div
    class="panel panel-danger bg1 p-1 m-1 rounded"
    style="background-image: linear-gradient(315deg, #5e3838 0%, #2f2a2f 74%)"
  >
    <div class="panel-heading">
      <h3 class="text-center" [style.color]="'white'"><b>List of Buses</b></h3>
    </div>
    <br />
    <div class="panel-body">
      <table border="3" class="table table-striped" *ngIf="bus">
        <thead [style.color]="'white'">
          <tr>
            <th>Bus Number</th>
            <th>Departure Bus-stop</th>
            <th>Arrival Bus-stop</th>
            <th>Available Seats</th>
            <th>Departure Date</th>
            <th>Arrival Date</th>
            <th>Arrival Time</th>
            <th>Departure Time</th>
            <th>Bus Vendor</th>
            <th>Ticket Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bus of bus" [style.background-color]="'white'">
            <td>{{ bus.busNumber }}</td>
            <td>{{ bus.departureBusstop }}</td>
            <td>{{ bus.arrivalBusstop }}</td>
            <td>{{ bus.availableSeats }}</td>
            <td>{{ bus.departureDate }}</td>
            <td>{{ bus.arrivalDate }}</td>
            <td>{{ bus.arrivalTime }}</td>
            <td>{{ bus.departureTime }}</td>
            <td>{{ bus.busVendor }}</td>
            <td>{{ bus.cost }}</td>
            <td>
              <button class="btn btn-danger" (click)="removeBus(bus.busNumber)">
                Delete
              </button>
              <button
                class="btn btn-info"
                (click)="updateBus(bus.busNumber)"
                style="margin-left: 5px"
              >
                Update
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>
