<div class="container-fluid bg">
  <div class="text-center text-white pt-2">
    <a routerLink="/adminHome" style="color: white; text-decoration: none">
      <h2>
        <b
          ><i
            ><span class="text-white"><i class="fa-solid fa-bus"></i> Book</span
            ><span class="text-warning">MyBus</span></i
          ></b
        >
      </h2>
    </a>
  </div>
  <div class="row">
    <div class="col-sm-12 text-light rounded">
      <div class="p-3 md-2">
        <h3>
          <b
            >Welcome,
            <span class="text-warning"
              ><i>{{ adminDetails.adminName }}</i></span
            ></b
          >
        </h3>
        <div class="px-1 md-5" *ngIf="adminDetails">
          <small
            ><b>Admin Id: {{ adminDetails.adminId }}</b></small
          >
        </div>
        <button class="btn btn-light float-left" routerLink="/adminHome">
          Home
        </button>
        <button
          class="btn btn-danger float-right pd-5"
          routerLink="/adminLogin"
          (click)="(logout)"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
  <div
    class="addBus jumbotron bg1 rounded"
    style="background-image: linear-gradient(315deg, #5e3838 0%, #2f2a2f 74%)"
  >
    <form
      class="p-2 m-1"
      (ngSubmit)="onSubmit()"
      [formGroup]="busForm"
      style="color: white"
    >
      <h4 class="text-center"><b>Add New Bus Details </b></h4>
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Departure Bus-stop</label>
          <input
            type="text"
            placeholder="Departure Bus-stop"
            formControlName="departureBusstop"
            [class.is-invalid]="
              busForm.get('departureBusstop').invalid &&
              busForm.get('departureBusstop').touched
            "
            class="form-control"
          />
          <small
            class="text-warning"
            *ngIf="
              busForm.get('departureBusstop').invalid &&
              busForm.get('departureBusstop').touched
            "
            >Please fill the arrival Busstop</small
          >
        </div>

        <div class="form-group col-sm-6">
          <label>Arrival Bus-stop</label>
          <input
            type="text"
            placeholder="Arrival Bus-stop"
            formControlName="arrivalBusstop"
            [class.is-invalid]="
              busForm.get('arrivalBusstop').invalid &&
              busForm.get('arrivalBusstop').touched
            "
            class="form-control"
          />
          <small
            class="text-warning"
            *ngIf="
              busForm.get('arrivalBusstop').invalid &&
              busForm.get('arrivalBusstop').touched
            "
            >Please fill the departure Busstop</small
          >
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-6">
          <label>Departure Date</label>
          <input
            type="date"
            placeholder="Departure Date"
            formControlName="departureDate"
            [class.is-invalid]="
              busForm.get('departureDate').invalid &&
              busForm.get('departureDate').touched
            "
            class="form-control"
          />
          <small
            class="text-warning"
            *ngIf="
              busForm.get('departureDate').invalid &&
              busForm.get('departureDate').touched
            "
            >invalid or no date provided</small
          >
        </div>

        <div class="form-group col-sm-6">
          <label>Arrival Date</label>
          <input
            type="date"
            placeholder="Arrival Date"
            formControlName="arrivalDate"
            [class.is-invalid]="
              busForm.get('arrivalDate').invalid &&
              busForm.get('arrivalDate').touched
            "
            class="form-control"
          />
          <small
            class="text-warning"
            *ngIf="
              busForm.get('arrivalDate').errors?.required &&
              busForm.get('arrivalDate').invalid &&
              busForm.get('arrivalDate').touched
            "
            >mandatory Field</small
          >
          <small class="text-warning" *ngIf="busForm.errors?.arrivalDateError"
            >must be greater than or equal departure date</small
          >
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <label>Available seats</label>
          <input
            type="number"
            placeholder="Available seats"
            formControlName="availableSeats"
            [class.is-invalid]="
              busForm.get('availableSeats').invalid &&
              busForm.get('availableSeats').touched
            "
            class="form-control"
          />
          <small
            class="text-warning"
            *ngIf="
              busForm.get('availableSeats').invalid &&
              busForm.get('availableSeats').touched
            "
            >Invalid or no input provided</small
          >
        </div>

        <div class="form-group col-sm-4">
          <label for="name">Departure Time</label>
          <input
            type="time"
            placeholder="departure Time"
            formControlName="departureTime"
            [class.is-invalid]="
              busForm.get('departureTime').invalid &&
              busForm.get('departureTime').touched
            "
            class="form-control"
          />
          <small
            class="text-warning"
            *ngIf="
              busForm.get('departureTime').invalid &&
              busForm.get('departureTime').touched
            "
            >Please fill the departure time</small
          >
        </div>

        <div class="form-group col-sm-4">
          <label>Arrival Time</label>
          <input
            type="time"
            placeholder="Arrival Time"
            formControlName="arrivalTime"
            [class.is-invalid]="
              busForm.get('arrivalTime').invalid &&
              busForm.get('arrivalTime').touched
            "
            class="form-control"
          />
          <small
            class="text-warning"
            *ngIf="
              busForm.get('arrivalTime').invalid &&
              busForm.get('arrivalTime').touched
            "
            >Please fill the arrival time</small
          >
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label>Bus Vendor</label>
          <input
            type="text"
            placeholder="bus Vendor"
            formControlName="busVendor"
            [class.is-invalid]="
              busForm.get('busVendor').invalid &&
              busForm.get('busVendor').touched
            "
            class="form-control"
          />
          <small
            class="text-warning"
            *ngIf="
              busForm.get('busVendor').invalid &&
              busForm.get('busVendor').touched
            "
            >Bus vendor is Required</small
          >
        </div>

        <div class="form-group col-sm-6">
          <label for="name">Price of Ticket</label>
          <input
            type="number"
            placeholder="Price of Ticket"
            formControlName="cost"
            [class.is-invalid]="
              busForm.get('cost').invalid && busForm.get('cost').touched
            "
            class="form-control"
          />
          <small
            class="text-warning"
            *ngIf="
              busForm.get('departureTime').invalid &&
              busForm.get('departureTime').touched
            "
            >invalid price provided</small
          >
        </div>
      </div>
      <div class="row justify-content-center" align="center">
        <div class="form-group col-sm-5">
          <input
            type="submit"
            value="Add bus"
            [disabled]="!busForm.valid"
            class="btn btn-success form-control"
          />
        </div>
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>
