<div class="container-fluid bg content-container">
  <div class="text-center text-white pt-2">
    <h2>
      <b
        ><i
          ><span class="text-white"><i class="fa-solid fa-bus"></i> Book</span
          ><span class="text-warning">MyBus</span></i
        ></b
      >
    </h2>
  </div>
  <div class="row">
    <div class="col-sm-12 text-light rounded shadow py-12">
      <div class="p-4 md-3">
        <h3>
          <b
            >Welcome,
            <span class="text-warning"
              ><i>{{ adminDetails.adminName }}</i></span
            ></b
          >
        </h3>
        <button class="btn btn-danger float-right pd-5" (click)="logout()">
          Logout
        </button>
        <div class="px-1 md-5" *ngIf="adminDetails">
          <small
            ><b>Admin id: {{ adminDetails.adminId }}</b></small
          ><br />
        </div>
      </div>
    </div>
  </div>
  <br /><br />

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card cardbg">
            <div class="card-body">
              <h3 class="card-title">Add Bus Details</h3>
              <p class="card-text">
                Here Admin can add the Bus Details into the Database.
              </p>
              <button
                type="submit"
                class="btn btn-success float-right"
                routerLink="/addBusDetails"
              >
                Add Bus Details
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-3">
          <div class="card cardbg">
            <div class="card-body">
              <h3 class="card-title">View All Bus Details</h3>
              <p class="card-text">
                Here Admin can view all Bus Details from the Database.
              </p>
              <button
                type="submit"
                routerLink="/allBussDetails"
                class="btn btn-success float-right"
              >
                View Bus Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="card cardbg">
            <div class="card-body">
              <h3 class="card-title">View All Users</h3>
              <p class="card-text">Admin can view User details from here.</p>
              <button
                type="submit"
                class="btn btn-success float-right"
                routerLink="/getAllUsers"
              >
                View Users Details
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-3">
          <div class="card cardbg">
            <div class="card-body">
              <h3 class="card-title">View All Bookings</h3>
              <p class="card-text">
                Here Admin can view all Booking Details from the Database.
              </p>
              <button
                type="submit"
                routerLink="/viewAllBookings"
                class="btn btn-success float-right"
              >
                View Booking Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
