<nav
  class="navbar navbar-expand-sm navbar-light"
  style="background-color: hsl(335, 95%, 25%)"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <h3 class="text-white">
        <i class="fa-solid fa-bus"></i
        ><b>Book<span class="text-warning">MyBus</span></b>
      </h3>
    </a>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/userLogin"
          style="color: rgb(255, 255, 255)"
          ><b>Login</b></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/addUser"
          style="color: rgb(255, 255, 255)"
          ><b>Register</b></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/aboutus"
          style="color: rgb(255, 255, 255)"
          ><b>About Us</b></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/contactus"
          style="color: rgb(255, 255, 255)"
          ><b>Contact Us</b></a
        >
      </li>
    </ul>
  </div>
</nav>
<body>
  <div class="container bg rounded">
    <div class="mt-5 py-5 pt-5 pd-3">
      <h1 class="mt-5 text-light">
        <b
          >Welcome to <b>Book<span class="text-warning">MyBus</span></b></b
        >
      </h1>
      <h2 class="text-bg-warning"><b>Book Comfortable Bus, Comfortably!</b></h2>
      <p class="text-light">Enjoy Your Journey With Few Clicks</p>
    </div>
  </div>
  <div class="container p-1 box rounded bg-white">
    <div class="jumbotron box">
      <h2 class="text-center">
        <div class="blink"><b>Book Bus Tickets</b></div>
      </h2>
      <br /><br />
      <div class="row justify-content-center">
        <form
          class="col-sm-10 px-5 mx-5 form-horizontal"
          style="text-align: center"
        >
          <input
            class="btn-success form-group"
            type="button"
            value="Book Tickets"
            id="form"
            routerLink="/userLogin"
          />
        </form>
      </div>
    </div>
  </div>
  <br />
</body>
<app-footer></app-footer>
