<div class="container-fluid bg content-container">
  <div class="text-center text-white pt-2">
    <h2>
      <b
        ><i
          ><span class="text-white"><i class="fa-solid fa-bus"></i> Book</span
          ><span class="text-warning">MyBus</span></i
        ></b
      >
    </h2>
  </div>
  <div class="row">
    <div class="col-sm-12 text-light rounded py-12">
      <div class="p-4 md-3">
        <div *ngIf="user">
          <h3>
            <b
              >Welcome to BookMyBus!
              <span class="text-warning"
                ><i>{{ user.userName }}</i></span
              ></b
            >
          </h3>
          <button class="btn btn-danger float-right" (click)="logout()">
            Logout
          </button>
          <small
            ><b>User Id: {{ user.userId }}</b></small
          ><br />
        </div>
      </div>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-sm-4">
      <div class="card cardbg2">
        <div class="card-body">
          <h3 class="card-title">View Bookings</h3>
          <p class="card-text">User can view booking details from here.</p>
          <button class="btn btn-success" (click)="getBookings()">
            View Bookings
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card cardbg2">
        <div class="card-body">
          <h3 class="card-title">View User Details</h3>
          <p class="card-text">User can view User details from here.</p>
          <button class="btn btn-success" routerLink="/viewUser">
            View Users
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card cardbg2">
        <div class="card-body">
          <h3 class="card-title">Update User Details</h3>
          <p class="card-text">User can update User details from here.</p>
          <button class="btn btn-success" routerLink="/updateUser">
            Update Details
          </button>
        </div>
      </div>
    </div>
  </div>

  <br /><br />
  <div class="jumbotron mt-1 jb1 cardbg2">
    <form [formGroup]="searchForm" (ngSubmit)="search()">
      <div class="row justify-content-center">
        <div class="form-group col-sm-3">
          <label for="dep"><strong>From</strong></label>
          <select
            class="form-control"
            id="dep"
            formControlName="departureBusstop"
          >
            <option value="" disabled selected>
              Select Departure Bus Stop
            </option>
            <option *ngFor="let stop of departureBusstops" [value]="stop">
              {{ stop }}
            </option>
          </select>
          <small
            class="text-warning"
            *ngIf="
              searchForm.get('departureBusstop').invalid &&
              searchForm.get('departureBusstop').touched
            "
            >*Mandatory Field</small
          >
        </div>

        <div class="form-group col-sm-3">
          <label for="ari"><strong>To</strong></label>
          <select
            class="form-control"
            id="ari"
            formControlName="arrivalBusstop"
          >
            <option value="" disabled selected>Select Arrival Bus Stop</option>
            <option *ngFor="let stop of arrivalBusstops" [value]="stop">
              {{ stop }}
            </option>
          </select>
          <small
            class="text-warning"
            *ngIf="
              searchForm.get('arrivalBusstop').invalid &&
              searchForm.get('arrivalBusstop').touched
            "
            >*Mandatory Field</small
          >
        </div>

        <div class="form-group col-sm-2">
          <label for="date"><strong>Date</strong></label>
          <input
            type="date"
            placeholder="DD-MM-YYYY"
            id="date"
            class="form-control"
            formControlName="date"
          />
        </div>
        <div class="form-group col-sm-2 p-2">
          <br />
          <input
            type="submit"
            style="width: 200px"
            class="btn btn-success"
            value="Search"
          />
        </div>
      </div>
    </form>
  </div>

  <h2 class="text-red bg-danger" align="center">{{ notFound }}</h2>

  <div class="jumbotron jb1 cardbg2" *ngIf="found">
    <div class="row r1">
      <div class="col-6">
        <h6><b>Bus Number:</b></h6>
      </div>
      <div class="col-6">
        <h6>{{ bus.busNumber }}</h6>
      </div>
    </div>

    <div class="row r1">
      <div class="col-6">
        <h6><b>From:</b></h6>
      </div>
      <div class="col-6">
        <h6>{{ bus.departureBusstop }}</h6>
      </div>
    </div>

    <div class="row r1">
      <div class="col-6">
        <h6><b>To:</b></h6>
      </div>
      <div class="col-6">
        <h6>{{ bus.arrivalBusstop }}</h6>
      </div>
    </div>

    <div class="row r1">
      <div class="col-6">
        <h6><b>Departure date:</b></h6>
      </div>
      <div class="col-6">
        <h6>{{ bus.departureDate }}</h6>
      </div>
    </div>

    <div class="row r1">
      <div class="col-6">
        <h6><b>Departure Time:</b></h6>
      </div>
      <div class="col-6">
        <h6>{{ bus.departureTime }}</h6>
      </div>
    </div>

    <div class="row r1">
      <div class="col-6">
        <h6><b>Arrival Date:</b></h6>
      </div>
      <div class="col-6">
        <h6>{{ bus.arrivalDate }}</h6>
      </div>
    </div>

    <div class="row r1">
      <div class="col-6">
        <h6><b>Arrival Time:</b></h6>
      </div>
      <div class="col-6">
        <h6>{{ bus.arrivalTime }}</h6>
      </div>
    </div>

    <div class="row r1">
      <div class="col-6">
        <h6><b>Cost:</b></h6>
      </div>
      <div class="col-6">
        <h6>{{ bus.cost | currency : "INR" }}</h6>
      </div>
    </div>
    <br /><br />
    <div align="center">
      <button class="btn btn-success" (click)="addPassengers()">
        Add Passengers
      </button>
    </div>
  </div>
  <br /><br />
</div>
<footer class="footer">
  ©2024 Copyright:
  <a class="text-white" style="text-decoration: none" href="#">BookMyBus</a>
</footer>
